<section ng-controller="developerController as developerController">
    <h2>Register a developer</h2>
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

    <form name="devForm" ng-submit="developerController.createDeveloper()" role="form">


        <label for="name">name:</label>
        <input type="text" id="name" name="NAME" ng-model="model.developer.name">
        </br>

        <label for="username">username:</label>
        <input type="text" id="username" name="username"
               ng-model="model.developer.username"/>
        </br>

        <label for="password">password:</label>
        <input type="text" id="password" name="password"
               min="1" max="20"
               ng-model="model.developer.password"/>
        </br>


        <label for="email">email:</label>
        <input type="text" id="email" name="email"
               ng-model="model.developer.email"/>
        </br>

        <input type="submit" ng-disabled="devForm.$invalid" value="Register">
        <a href="/#/">Back to Login</a>


    </form>

</section>