<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- Enable annotation config -->
    <context:annotation-config/>
    <mvc:annotation-driven/>
    <context:component-scan base-package="de.nordakademie.ticketreporting.controller"/>


    <!-- Data source -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:c:\db2\database"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <!-- Entity manager factory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="database"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="de.nordakademie.ticketreporting.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="connection.useUnicode">true</prop>
                <prop key="connection.CharSet">utf8</prop>
                <prop key="connection.characterEncoding">utf8</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.hbm2ddl.import_files">import.sql</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>


    <!-- Transaction configuration -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- Transaction manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Transaction advice -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>


    <aop:config>
        <aop:pointcut id="serviceMethods" expression="execution(* de.nordakademie.ticketreporting.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>

    <!-- DAOs -->
    <bean id="developerDAO" class="de.nordakademie.ticketreporting.dao.DeveloperDAO"/>
    <bean id="ticketDAO" class="de.nordakademie.ticketreporting.dao.TicketDAO"/>


    <!-- Services -->
    <bean id="developerService" class="de.nordakademie.ticketreporting.service.DeveloperServiceImpl"/>
    <bean id="ticketService" class="de.nordakademie.ticketreporting.service.TicketServiceImpl"/>


</beans>